.menuItem > .label{
    -fx-graphic: none;
}
.menuItem .accelerator-text{
    -fx-graphic: none;
}

#menuItemSave > .label{
    -fx-graphic: url("/images/saveIcon.png");
}
#menuItemSave .accelerator-text{
    -fx-graphic: none;
}

#menuItemPrint > .label{
    -fx-graphic: url("/images/printIcon.png");
}
#menuItemPrint .accelerator-text{
    -fx-graphic: none;
}

#menuItemHelp > .label{
    -fx-graphic: url("/images/userGuideIcon.png");
}
#menuItemHelp .accelerator-text{
    -fx-graphic: none;
}

#menuItemSettings > .label{
    -fx-graphic: url("/images/settingsIcon.png");
}
#menuItemSettings .accelerator-text{
    -fx-graphic: none;
}

#menuItemDelete > .label{
    -fx-graphic: url("/images/deleteIcon.png");
}
#menuItemDelete .accelerator-text{
    -fx-graphic: none;
}

#menuItemUserGuide > .label{
    -fx-graphic: url("/images/userGuideIcon.png");
}
#menuItemUserGuide .accelerator-text{
    -fx-graphic: none;
}
#next {
    -fx-graphic: url("/images/next.png");
    -fx-background-color: Transparent;
}
#back {
    -fx-graphic: url("/images/back.png");
    -fx-background-color: Transparent;
}
